@import '../../../../../styles/variables.scss';

.follower {
  display: grid;
  grid-template-columns: 100px 50px 600px;
  gap: 10px;
  cursor: pointer;
  border-bottom: $additionalInfoBorder;
  margin: 5px 0;
  padding: 5px 0;

  transition: 300ms;

  &:hover {
    background-color: $grey;
  }
}

.avatar {
  line-height: 0;
}

.avatar, .id, .login {
  display: flex;
  align-items: center;
  padding: 0 5px;
}