@import '../../styles/variables.scss';

.form {
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
}

.input {
  padding: 10px;
  border: 1px solid black;
  border-right: none;
  border-radius: 5px 0 0 5px;
  width: 610px;
  height: 38px;
  box-sizing: border-box;
}

.button {
  height: 38px;
  border-left: none;
  border: 1px solid black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: $grey2;
  }
}